* {
    font-family: 'Yanone Kaffeesatz', sans-serif;
  padding:3px;
}








.wrapper {
    width:98%;

    margin-top:1%;
    margin-left:1%;
    background-color:#efefef;
  
 
}



header {
    font-size:0.8em;
   width:100%; 
   height:45%;
  
   margin-top:1%;
  
 
    background-position: center;


}

.main {
    margin-top:1%;
    margin-left:0.5%;
    width:98%;
    border: solid 2px black;
   
}

.main > span {
    margin-left:0.5%;
    display:block;
    width:100%;
    border-bottom:dashed 2px #aaaaaa;
}




#images {
    margin-top:1%;
    margin-left:0.5%;
    height: 45%;
    width:98%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
   column-gap: 1%;
}
#images div {
    background-color: #aaaaaa;
    background-size:cover;
    background-position: center;
}


#images div:nth-child(1) {
    background-image:url(vill.png);
}
#images div:nth-child(2) {
    background-image:url(vill2.jpg);
}
#images div:nth-child(3) {
    background-image:url(vill3.jpg);
    background-size:150%;
}


#articles {
    
    margin-top:1%;
    margin-left:2%;
   
    width:96%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
   column-gap: 1%;
}

#articles div span {
    border-bottom:dashed 2px #aaaaaa;
    display:block;
}

#logo {

    height:100%;
 width:50%;
 margin-left:25%;
   background-image: url("villNews.jpg");
   background-repeat: no-repeat;
   background-size:cover;
   background-position: center;
    
}

a {
    color:black;
}



@media screen and (max-width: 800px) {
   #images {
       height:35%;
   }
   }
   @media screen and (max-width: 600px) {
    #images {
        height:20%;
    }
    }
  